/**
 * Styles errors and links in the AddPeopleDialog.
 */
.modal-dialog-form {
    .add-people-form-wrap {

        .info-dialog-copy-element {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            -webkit-user-select: text;
            user-select: text;
        }
        .sx-invite-edit {
            display: inline-flex;
            width: 100%;

            .sx-invite-edit-field {
                width: 40%;
                margin: 0px 2%;
            }

        }

        .error {
            padding-left: 5px;

            a {
                padding-left: 5px;
            }
        }

        .add-telephone-icon {
            display: flex;
            height: 28px;
            transform: scaleX(-1);
            width: 28px;

            i {
                line-height: 28px;
                margin: auto;
            }
        }

        .footer-text-wrap {
            display: flex;
        }

        .footer-telephone-icon {
            display: flex;
            transform: scaleX(-1);
            padding-left: 10px;

            i {
                line-height: 20px;
                margin: auto;
            }
        }
    }
}

/**
 * Styles errors in the MultiSelectAutocomplete.
 */
.autocomplete-error {
    min-width: 260px;
}
